html {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #fbfdfd;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
}

html .navbar {
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(61, 61, 61, 0.534);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
}

html .navbar a {
  all: unset;
  cursor: pointer;
}

html .navbar .option {
  padding: 1em 0.5em;
  color: #fbfdfd;
  border-bottom: solid #ffffff00;
}

html .navbar .option:hover {
  border-bottom: solid #e4e4e4;
}

html .navbar img {
  padding: 1em;
  width: 4em;
  height: auto;
}

html .navbar .options_container {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  padding: 1em 2em;
  font-size: 15px;
}

html .nav--hidden {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

html .homePage {
  background-image: url(../homePage/bg.svg);
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .homePage .title_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

html .homePage .title_container .title {
  font-size: 90px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

html .homePage .title_container .note_to_title {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
}

html .homePage .title_container div {
  display: inline-block;
  opacity: 0;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

html .homePage .title_container div:nth-child(1) {
  -webkit-animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

html .homePage .title_container div:nth-child(2) {
  -webkit-animation: fade-in 2s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 2s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

html .homePage .title_container div:nth-child(3) {
  -webkit-animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

html .infoPage {
  min-width: auto;
  min-height: 100%;
  background-color: #21252c;
  color: #e4e4e4;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .infoPage .header {
  font-size: 40px;
  font-weight: 600;
  padding: 1em;
}

html .infoPage .info_container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 2em;
}

html .infoPage .info_container .info_img {
  height: auto;
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 22px 5px #2b2b2b;
  box-shadow: 5px 5px 22px 5px #0f0f0f;
}

html .infoPage .info_container .text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20em;
  gap: 1em;
}

html .thingsToSeePage {
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  color: #e4e4e4;
  font-family: "Lato", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8em;
}

html .thingsToSeePage .header {
  color: #21252c;
  font-size: 40px;
  font-weight: 600;
  padding: 1em;
  text-align: center;
}

html .thingsToSeePage .slider::-webkit-scrollbar {
  display: none;
}

html .thingsToSeePage .slider {
  width: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
  height: 80%;
}

html .thingsToSeePage .slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1.4em 0 1.4em;
  -webkit-box-shadow: 5px 5px 22px 5px #a7a7a7;
  box-shadow: 5px 5px 22px 5px #3f3f3f;
  max-width: 350px;
  height: 600px;
}

html .thingsToSeePage .slider .slide .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #21252c;
  width: 350px;
  height: 140px;
}

html .thingsToSeePage .slider .slide .text_container .content {
  padding: 1em;
  font-size: 14px;
}

html .thingsToSeePage .slider .slide .text_container .title {
  font-size: 22px;
  font-weight: bold;
}

html .historyPage {
  padding: 3em;
  height: auto;
  width: auto;
  background-color: #21252c;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: 1em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .historyPage p {
  width: 35%;
  color: #fbfdfd;
  font-family: "Lato", sans-serif;
  margin: 0;
}

html .contactPage {
  background-image: url(../contactPage/bg.svg);
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #21252c;
}

html .contactPage .card {
  background-color: rgba(251, 253, 253, 0.77);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
  font-size: 18px;
}

html .contactPage .card .contact_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .contactPage .card .title {
  font-size: 20px;
  font-weight: bolder;
}

html .contactPage .card .bold {
  font-weight: bold;
}

html .contactPage .card .italic {
  font-family: "Libre Baskerville", serif;
}

html .contactPage .card button {
  width: 25%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (min-width: 800px) {
  .info_container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -webkit-column-gap: 2em;
            column-gap: 2em;
    row-gap: 1em;
  }
  .historyPage {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}
/*# sourceMappingURL=style.css.map */