$fontInte: "Inter", sans-serif;
$fontLato: "Lato", sans-serif;

html {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #fbfdfd;
  font-family: $fontLato;
  scroll-behavior: smooth;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
    overflow-x: hidden;
  }
  .navbar {
    a {
      all: unset;
      cursor: pointer;
    }
    .option {
      padding: 1em 0.5em;
      color: #fbfdfd;
      border-bottom: solid #ffffff00;
      transition: 1000ms;
      &:hover {
        border-bottom: solid #e4e4e4;
      }
    }
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    background-color: rgba(61, 61, 61, 0.534);
    backdrop-filter: blur(5px);
    z-index: 2;

    img {
      padding: 1em;
      width: 3em;
      height: auto;
      @media (min-width: 650px) {
        width: 4em;
      }
    }
    .options_container {
      width: auto;
      display: flex;
      gap: 0;
      padding: 0;
      font-size: 15px;
      @media (min-width: 650px) {
        gap: 3em;
        padding: 1em 2em;
      }
    }
  }
  .nav--hidden {
    transform: translateY(-80px);
  }
  .homePage {
    background-image: url(../homePage/bg.svg);
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 100%;

    font-family: $fontLato;
    display: flex;
    flex-direction: column;

    .title_container {
      justify-content: center;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      .title {
        font-size: 90px;
        font-weight: 600;
        font-family: $fontInte;
      }
      .note_to_title {
        font-family: "Libre Baskerville", serif;
        font-size: 15px;
      }
      div {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);
      }

      div:nth-child(1) {
        animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      div:nth-child(2) {
        animation: fade-in 2s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      div:nth-child(3) {
        animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      @keyframes fade-in {
        100% {
          opacity: 1;
          filter: blur(0);
        }
      }
    }
  }
  .infoPage {
    min-width: auto;
    min-height: 110%;
    background-color: #21252c;
    color: #e4e4e4;
    font-family: $fontLato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
      font-size: 40px;
      font-weight: 600;
      padding: 1em;
    }
    .info_container {
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      gap: 10px;
      padding-bottom: 2em;
      @media (min-width: 800px) {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 2em;
        row-gap: 1em;
        padding: 0;
      }
      .from-left {
        transform: translateX(-50%);
      }
      .from-right {
        transform: translateX(50%);
      }
      .info_img {
        width: 100%;
        height: auto;
        opacity: 0.8;
        transition: transform 400ms ease-in;
        @media (min-width: 800px) {
          height: 350px;
        }
      }
      .appear {
        transform: translateX(0);
      }
      .text_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 20em;
        gap: 1em;
      }
    }
  }
  .thingsToSeePage {
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    color: #e4e4e4;
    font-family: $fontLato;
    align-items: center;
    gap: 8em;
    .header {
      color: #21252c;
      font-size: 40px;
      font-weight: 600;
      padding: 1em;
      text-align: center;
    }
    .slider::-webkit-scrollbar {
      display: none;
    }
    .slider {
      width: 100%;
      transform: translateX(0%);
      display: flex;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      align-items: center;
      cursor: grab;
      height: 80%;
      .slide {
        display: flex;
        margin: 0 1.4em 0 1.4em;
        -webkit-box-shadow: 5px 5px 22px 5px #a7a7a7;
        box-shadow: 5px 5px 22px 5px #3f3f3f;
        max-width: 350px;
        height: 600px;
        .text_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          background-color: #21252c;
          width: 350px;
          height: 140px;
          .content {
            padding: 1em;
            font-size: 14px;
          }
          .title {
            font-size: 22px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .historyPage {
    padding: 3em;
    height: auto;
    width: auto;
    background-color: #21252c;
    display: grid;
    column-gap: 2em;
    row-gap: 1em;
    justify-items: center;
    align-items: center;
    @media (min-width: 800px) {
      grid-template-columns: auto auto;
    }
    p {
      width: 35%;
      color: #fbfdfd;
      font-family: $fontLato;
      margin: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .contactPage {
    background-image: url(../contactPage/bg.svg);
    background-size: cover;
    height: 100%;
    display: flex;
    color: #21252c;
    .card {
      background-color: rgba(251, 253, 253, 0.77);
      display: flex;
      flex-direction: column;
      padding: 3em;
      justify-content: center;
      gap: 3em;
      font-size: 18px;
      .contact_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .title {
        font-size: 20px;
        font-weight: bolder;
      }
      .bold {
        font-weight: bold;
      }
      .italic {
        font-family: "Libre Baskerville", serif;
      }

      button {
        width: 25%;
        align-self: end;
      }
    }
  }
}
